# Rider
.idea/
*.sln.DotSettings.user

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build results of an ATL project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# dotenv
.env

# Secret files
appsettings.json
secrets.json
appsettings.*.json

# Exclude all files in the wwwroot/images directory
wwwroot/images/*

# but include the .gitkeep file
!wwwroot/images/.gitkeep

# local PDBs
*.pdb

# *.application files
*.application
!*.forms.designer.cs
!*.xaml.cs
*.exe.config

# NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Visual Studio cache files
.vs/
# Mac files
.DS_Store
# Test files
/TestResults

